@{
    ViewBag.Title = "Email Test";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm("EmailTest", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div>
            <span>Error Msg : @ViewBag.Msg</span>

        </div>
            
        <span class="col-md-2 control-label">Email To </span>
        <div class="col-md-10">
            <input type="text" id="Email" name="Email" placeholder="email" />

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Send" />
        </div>
    </div>
}
